body {
  font-family: "Open Sans", sans-serif;
  background-color: #124c81;
}

.App {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #7ab5f4;
  border: 1px solid #00000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.tasksDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.task {
  background-color: #d3d3d3;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task.completed {
  background-color: #99a8bb;
  text-decoration: line-through;
}

.task h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.task p {
  font-size: 14px;
  margin-bottom: 10px;
}

.task .task-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.task .task-actions button {
  background-color: #4caf50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task .task-actions button:hover {
  background-color: #3e8e41;
}

.task .task-actions .delete-button {
  background-color: #f44336;
}

.task .task-actions .delete-button:hover {
  background-color: #c62828;
}

.createTaskContainer {
  background-color: #99a8bb;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createTaskContainer input[type="text"],
.createTaskContainer input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

.createTaskContainer button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.createTaskContainer button:hover {
  background-color: #3e8e41;
}

header {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.sortButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sortButtons button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

sortButtons button:hover {
  background-color: #3e8e41;
}

.task-status-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #4caf50;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.task-status-checkbox:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.task-status-checkbox:checked::before {
  content: "✓";
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.progressBar {
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
}

.progress {
  height: 20px;
  background-color: #4caf50;
  text-align: center;
  color: white;
  line-height: 20px; /* same as height to center the text */
}
