body {
  font-family: 'Open Sans', sans-serif;
  background-color: #124c81 ;
}

.App {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #7ab5f4;
  border: 1px solid #00000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.tasksDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tasksDisplay > div {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
}

.tasksDisplay > div > h1 {
  font-weight: bold;
  margin-bottom: 10px;
}

.tasksDisplay > div > button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tasksDisplay > div > button:hover {
  background-color: #3e8e41;
}

.createTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
}

.createTask > input[type="text"],
.createTask > input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.createTask > button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.createTask > button:hover {
  background-color: #3e8e41;
}